# fly.toml app configuration file generated for blog-odoom-net on 2023-11-30T20:36:03-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "blog-odoom-net"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
