# fly.toml app configuration file generated for blog-odoom-net on 2026-01-06T00:15:15Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'blog-odoom-net'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
